<!DOCTYPE html>
<html>
  <head>
    <title>葡萄园</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style.css">

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top v-opacity" role="navigation">
		<div class="container">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<div class="v-logo"></div>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li><a href="index.html">首页</a></li>
			  <li><a href="index.html">热门</a></li>
			  <li class="active"><a href="index.html">我的</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="大家正在搜索：xxx">
			  </div>
			  <button type="submit" class="btn btn-default">搜索</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-edit"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-briefcase"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#">账号信息</a></li>
				  <li><a href="#">Kindle</a></li>
				  <li><a href="#">推送设置</a></li>
				  <li class="divider"></li>
				  <li><a href="#">其它工具</a></li>
				</ul>
			  </li>
			</ul>
		  </div><!-- /.navbar-collapse -->
	  </div>
	</nav>

	<div class="container v-container v-opacity">
		<div class="row">
			<div class="col-md-9 v-block-2">
			<div class="v-space"></div>
			<!-- 一篇文章 -->
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="images/0.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading">文章标题</h4>
				<div class="v-font-dark-grey">【李稻葵：中国房地产行业的确进入了一个转折点】李稻葵今日在#五道口全球金融论坛#上表示，中国房地产行业的确进入了转折点，但他不认为行业将会出现美国2007年、2008年那样大规模的下降。最主要的原因是，现在持有房产的这部分家庭，不会像在美国金融危机之前那样被迫抛售。http://t.cn/8skHFQB</div>
				<small class="v-font-grey"><div class="pull-left">35分种前</div><div class="pull-right"><span class="glyphicon glyphicon-thumbs-up"/> (8) | <span class="glyphicon glyphicon-star-empty"/> | 转发(100) | 评论(20)</div></small>
			  </div>
			</div>
			<div class="v-article-space"></div>
			</div>
			<div class="col-md-3 v-block-1">
				<div class="media">
				  <a class="pull-left v-row" href="#">
					<img class="media-object" src="images/0.jpg" alt="...">
				  </a>
				  <div class="media-body v-font-grey v-font-12 v-row">
					一句话介绍一下自己吧，让别人更了解你。
				  </div>
				</div>
				<!--<div class="row v-row">
					<div class="col-md-3"><img src="images/0.jpg"/></div>
					<div class="col-md-9 v-font-12">一句话介绍一下自己吧，让别人更了解你。</div>
				</div>-->
				<div class="row v-row v-tag-row-line">
					<div class="col-md-12">
						<span class="label label-default">开发</span>
						<span class="label label-primary">设计</span>
						<span class="label label-success">数码</span>
						<span class="label label-info">足球</span>
						<span class="label label-warning">音乐</span>
					</div>
				</div>
				<div class="v-space"><div class="v-space-title">我关注的人</div></div>
				<div class="row v-row">
					<div class="col-md-3"><a href="#"><img src="images/0.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/1.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/2.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/3.jpg"/></a></div>
				</div>
				<div class="row v-row">
					<div class="col-md-3"><a href="#"><img src="images/0.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/1.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/2.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/3.jpg"/></a></div>
				</div>
				<div class="v-space"><div class="v-space-title">关注我的人</div></div>
				<div class="row v-row">
					<div class="col-md-3"><a href="#"><img src="images/0.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/1.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/2.jpg"/></a></div>
					<div class="col-md-3"><a href="#"><img src="images/3.jpg"/></a></div>
				</div>
				<div class="v-space"><div class="v-space-title">历史推送</div></div>
				<div class="row v-row">
					<div class="col-md-12">
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a><br/>
						<a href="#">2014年05月15日（5个站点，15篇文章）</a>
					</div>
				</div>
				<div>　</div>
			</div>
		</div>
	</div>
	<div id="footer">
      <div class="container v-footer">
        <p class="text-muted">版权所有，保留一切权利！Copyright ©2014 葡萄园.</p>
      </div>
    </div>
  </body>
</html>